
div {
  display: inline;
  cursor: default;
  line-height: 2px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 8px 8px 0px 8px;
}

.gold_background {
  background: #FDEAAB; /* Old browsers */
  background: -moz-linear-gradient(top, #FDEAAB 0%, #CFA347 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FDEAAB), color-stop(100%,#CFA347)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #FDEAAB 0%,#CFA347 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #FDEAAB 0%,#CFA347 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #FDEAAB 0%,#CFA347 100%); /* IE10+ */
  background: linear-gradient(to bottom, #FDEAAB 0%,#CFA347 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FDEAAB', endColorstr='#CFA347',GradientType=0 ); /* IE6-9 */
}

.silver_background {
  background: #DDDDDD; /* Old browsers */
  background: -moz-linear-gradient(top, #DDDDDD 0%, #888888 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DDDDDD), color-stop(100%,#888888)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #DDDDDD 0%,#888888 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #DDDDDD 0%,#888888 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #DDDDDD 0%,#888888 100%); /* IE10+ */
  background: linear-gradient(to bottom, #DDDDDD 0%,#888888 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DDDDDD', endColorstr='#888888',GradientType=0 ); /* IE6-9 */
}

.doge_gold_background {
  background: #BA9F33; /* Old browsers */
  background: -moz-linear-gradient(top, #BA9F33 0%, #F8F3E4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#BA9F33), color-stop(100%,#F8F3E4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #BA9F33 0%,#F8F3E4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #BA9F33 0%,#F8F3E4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #BA9F33 0%,#F8F3E4 100%); /* IE10+ */
  background: linear-gradient(to bottom, #BA9F33 0%,#F8F3E4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BA9F33', endColorstr='#F8F3E4',GradientType=0 ); /* IE6-9 */
}

.blue_background {
  background: #0391E1; /* Old browsers */
  background: -moz-linear-gradient(top, #0391E1 0%, #F8F3E4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0391E1), color-stop(100%,#F8F3E4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0391E1 0%,#F8F3E4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0391E1 0%,#F8F3E4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0391E1 0%,#F8F3E4 100%); /* IE10+ */
  background: linear-gradient(to bottom, #0391E1 0%,#F8F3E4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0391E1', endColorstr='#F8F3E4',GradientType=0 ); /* IE6-9 */
}